* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
:focus {
  outline: none;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 40px 30px;
  margin: 60px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
  width: 100%;
}
.newElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  padding: 15px 8px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid lightblue;
}
input:hover {
  border-bottom: 1px solid #252850;
  transition-duration: 0.2s;
}
form i {
  font-size: 35px;
  padding-left: 10px;
  cursor: pointer;
  color: #252850;
}
form i:hover {
  color: lightblue;
  transition-duration: 0.2s;
}
ul {
  list-style-type: none;
  width: 100%;
  padding: 10px;
}
li {
  padding: 10px 0;
  border-bottom: 1px solid lightblue;
}
.element {
  display: inline-block;
  width: calc(100% - 25px);
}
.delete {
  cursor: pointer;
}
.delete i {
  color: lightgray;
}
.delete i:hover {
  color: gray;
  transition-duration: 0.2s;
}
